# Environnements virtuels
venv/
.env/
.venv/

# Fichiers temporaires et logs Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Dépendances
*.egg-info/
dist/
build/

# Paramètres d’éditeur (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Configuration locale
*.env

# Tests (exemple si tu utilises pytest)
.coverage
htmlcov/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Autre (ajoute ici ce que tu ne veux jamais versionner)
