<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOP.CO - Find Clothes That Matches Your Style</title>
        <link rel="icon" href="{{ url_for('static', filename='image/other/logo_icon.png') }}" type="image/x-icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-homepage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/product-details.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/category-modern.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/likes-reviews.css') }}">
    </head>
    <body>
        {% include 'includes/_modern_navbar.html' %}
        <div class="container">
            {% include 'includes/_flashmsg.html' %}
            {% block body %}


            {% endblock %}
        </div>
        <!-- Bootstrap and jQuery for dropdown functionality -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- Custom modern script -->
        <script src="{{ url_for('static', filename='js/modern-script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/product-details.js') }}"></script>
        <script src="{{ url_for('static', filename='js/category-modern.js') }}"></script>
        <script src="{{ url_for('static', filename='js/mobile-responsive.js') }}"></script>
    </body>
    {% include 'includes/_footer.html' %}
</html>
